<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mad Libs</title>
    <link rel="stylesheet" href="css/info.css">
    <style>
    </style>
  </head>
  <body>

    <h1>Mad Lib Results</h1>
    <img src="https://image.shutterstock.com/image-photo/jack-russell-terrier-dog-running-260nw-627908711.jpg">
    <p>One day a dog named <span class="hilight">{{noun1}} </span></p>
    <p>went outside to <span class="hilight">{{verb1}} </span></p>
    <p>and <span class="hilight">{{verb2}} </span></p>
  </body>
</html>
