body{
  background-color: pink
}
h1 {
background-color: lightblue;
color: darkblue;
font-weight: 600;
height: 60px;
line-height: 90px;

padding-left: 5px;
width: 100%;
}
img {
  padding: 20px;
}
button {
  color: green;
}
